---
name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.4'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Python linter
        run: python -m flake8
      - name: YAML linter
        run: yamllint .
      - name: Install Playwright
        run: playwright install
      - name: Install playwright dependencies
        run: sudo playwright install-deps
      - name: Run Playwright tests
        # yamllint disable-line rule:line-length
        run: pytest --browser webkit --browser firefox --browser chromium --numprocesses auto --template=html1/index.html --report=test-report/report.html
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-report
          path: test-report
          retention-days: 30
